---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <p class="meta">
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </p>
  </footer>
</article>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://ltd.us3.list-manage.com/subscribe/post?u=8cb7da2015a2eaa89e116887f&amp;id=246319d0fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h1>Infonomist's Insights in your Inbox</h1>
	<p>If you've read this far you must be interested in this sort of thing. Perhaps you even want to see it in your inbox? Sign-up for an occasional email on all things analytical. It's completely free and you can subscribe at any time.</p>

<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">(required)</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_8cb7da2015a2eaa89e116887f_246319d0fc" value=""></div>
	<div class="clear"><input type="submit" value="Get insights" name="subscribe" id="mc-embedded-subscribe" class="button btn"></div>
</form>
</div>

<!--End mc_embed_signup-->


{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.post_asides.size %}
    {% include_array post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
