// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body > header {
  background-image: url(/news/images/infon_banner.png);
  background-size: 1200px 167px;
  background-repeat: no-repeat;
}
